<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <sectionGroup name="gotdotnet.elmah">
      <!-- Indicates that inside the section group there will be an errorLog section -->
      <section name="errorLog" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <!-- Indicates that inside the section group there will be an errorMail section -->
      <section name="errorMail" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- will need to update key and value -->
    <add key="com.domain.subdomian.lists" value="SITE_PATH/_vti_bin/lists.asmx"/>
    <add key="configfilePath" value="\10\logs\ChangeLog.txt"/>
  </appSettings>
  <connectionStrings>
    <remove name="TimeKeeperConnectionString"/>
    <add name="TimeKeeperConnectionString" connectionString="Server=SERVER_NAME;Database=TIMEKEEPER;Trusted_Connection=True;Connect Timeout=30;" providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=SERVER_NAME;Database=ASPNETDB;Trusted_Connection=True;"/>
    <remove name="ErrorDB"/>
    <add name="ErrorDB" connectionString="Server=SERVER_NAME;Database=TIMEKEEPER;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages theme="Default" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="POST,GET,HEAD" path="logging/default.aspx" type="GotDotNet.Elmah.ErrorLogPageFactory, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca"/>
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="GotDotNet.Elmah.ErrorLogModule, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca"/>
      <!-- Adds the ErrorMailModule to the HTTP pipeline. -->
      <add name="ErrorMail" type="GotDotNet.Elmah.ErrorMailModule, GotDotNet.Elmah, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=89e7ba9b9c08cfca"/>
    </httpModules>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
    <roleManager enabled="true"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>